@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #37123c;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes moveLeftToRight {
  0% {
    margin-left: 100px;
}
  100% {
    margin-left: calc(100% - 100px);
  }
}

.parent-container {
  position: relative; /* Ensure relative positioning */
  width: 100%; /* Set the desired width */
  height: 200px; /* Set the desired height */
}

.car{
  position: absolute;
  width: 100px;
  height: 100px;
  margin-left: 100px;
}

.animated-object {
  animation-name: moveLeftToRight;
  animation-duration: 20s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
